@use 'normalize.css' as *;

@use 'partials/header' as *;
@use 'partials/about' as *;
@use 'partials/projects' as *;
@use 'partials/contact' as *;
@use 'partials/footer' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(247, 247, 247);
    color: #333;
}


.container {
    width: 1600px;
    height: auto;
    margin: 0 auto;
}